@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');

a {
  font-family: "Electrolize", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.main-container{
  background-color: #282A37;
  height: 100%;
  width: fit-content;
  padding: 15px;
  overflow: auto;
  box-shadow: 0px 0px 10px #000000;

  .logo-container{
    width: fit;
    height: fit-content;
    padding: 25px 12px;
    display: flex;
    align-items: center;
    background-color: #323645;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgb(0, 0, 0,0.5);


    .logo-ball{
      min-width: 43px;
      min-height: 43px;
      background-color: #218AE7;
      border-radius: 50px;
    }

    .logo-writer{
      width: fit-content;
      height: fit-content;
      display: flex;


      .logo-text{
        color: #FEFFFF;
        font-size: 90px;
        padding: 0;

      }

      .plaster-regular {
        font-family: "Plaster", system-ui;
        font-weight: 400;
        font-style: normal;
      }
    }
  }

  .line{
    background-color: rgba(16, 16, 16, 0.5);
    width: 100%;
    height: 2px;
    margin-top: 12px;
    margin-bottom: 20px;
  }

  .menu-container{

    .menu-box{
      margin-bottom: 10px;
      width: 100%;
      height: fit-content;
    
      .menu-title{
        color: #FEFFFF;
        font-size: 22px;
        font-weight: 600;
      }
    }


    .routes-container{
      display: flex;
      flex-direction: column;

      .routes-wrapper{
        display: flex;
        flex-direction: column;
        gap: 8px;
      }

      .route{
        cursor: pointer;
        color: #C3C3C3;
        border: 1px solid transparent;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 15px;
        border-radius: 8px;
        padding: 8px 0px 8px 15px;
  
        .route-icon{
          font-size: 40px;
        }
      }

      .route:hover{
        background-color: #323645;
      }

      .route:focus{
        background-color: #323645;
        outline: none;
      }

      .route:active{
        border: 1px solid #037ee9a8;

        .route-label{
          color: #ffffff;
        }
      }


      .route-label{
        text-decoration: none;
        color: #C3C3C3;
        font-size: 20px;
        margin-top: auto;
        padding-bottom: 8px;
        width: 100%;
      }

      .selected{
        background-color: #323645;
        border: 1px solid #218AE7;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);

        .route-icon{
          color: #218AE7;
          font-weight: 400;
        }

        .route-label{
          color: #FEFFFF;
        }
      }

      #logout{
        margin-top: 90%;
        margin-bottom: 100px;

        .route-icon{
          font-weight: 500px;
        }
      }

      
      #logout:active{
        background-color: #323645;
        border: 1px solid transparent;

        .route-icon{
          color: #b80d0d;
        }

        .route-label{
          color: #ffffff;
        }
      }


      #logout.logout-active{
        background-color: #323645;


        .route-icon{
          color: #b80d0d;
        }

        .route-label{
          color: #FEFFFF;
        }
      }
    }
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #282A37;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: #1a6cb4;
  border: 3px solid #282A37;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #218AE7;
}