.container {
  display: flex;
  position: relative;
  background-color: rgba(0, 0, 0, 0.15);
}

.router-content {
  flex-grow: 1;
  position: relative; /* Necessario per posizionare il velo all'interno di questo contenitore */
  transition: margin-left 0.3s;
}

.blurred::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Velo nero con opacità al 50% */
  z-index: 10; /* Assicurati che il velo sia sopra il contenuto */
  pointer-events: auto; /* Impedisce l'interazione con il contenuto sottostante */
}