<div class="form-container">
    <div class="title">
        <h1>Register</h1>
    </div>
    <form [formGroup]="registerForm" (submit)="registerHandler()" class="register-form">
        <input class="input-style" matInput formControlName="firstName" type="text" placeholder="First Name ..." >

        <input class="input-style" matInput formControlName="lastName" type="text" placeholder="Last Name ...">

        <input class="input-style date-picker" matInput formControlName="dob" type="date">

        <input class="input-style" matInput formControlName="email" type="email" placeholder="Email ...">

        <input class="input-style" matInput formControlName="password" type="password" placeholder="Password ...">

        <button class="input-style" mat-button type="submit" [disabled]="registerForm.invalid"
            [ngClass]="{disabled : registerForm.invalid , active : !registerForm.invalid}">
            <h5>Register</h5>
        </button>
    </form>

    <hr>

    <div class="botton-form">
        <a (click)="switch()" id="switch-form">LOGIN</a>
    </div>
</div>