<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Plaster&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div class="main-container unselectable"> 
  <div class="logo-container">
    <div class="logo-ball">

    </div>
    <div class="logo-writer">
      <a class="logo-text plaster-regular">MA</a>
    </div>

  </div>
  <div class="line">
    <!-- Nothing Here, It's a Line -->
  </div>
  <div class="menu-container">
    <div class="menu-box">
      <a class="menu-title">MENU</a>
    </div>
    <div class="routes-container">
      <div class="routes-wrapper">
        <div class="route bridge" *ngFor="let route of navData" id="{{route.routeLink}}" (click)="routeSelector(route.routeLink)" [routerLink]="[route.routeLink]"   routerLinkActive="active">
          <i class="route-icon" [ngClass]="route.icon" >{{ route.iconName }}</i>
          <a class="route-label">{{ route.label }}</a>
        </div>        
      </div>
      <div class="route" id="logout" (click)="openLogoutDialog()">
        <i class="route-icon" [ngClass]="logoutData.icon" >{{ logoutData.iconName }}</i>
        <a class="route-label">{{ logoutData.label }}</a>
      </div>   
    </div>
  </div>
</div>