<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Plaster&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<div class="main-container">
    <div class="title unselectable">
        <h1>ACTIVITIES.</h1>
    </div>
    <div class="content-container">
        <table class="styled-table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>causal</th>
                    <th>amount</th>
                    <th>isProgrammed</th>
                    <th>startDate</th>
                    <th>endDate</th>
                    <th>vault</th>
                    <th>category</th>
                    <th>thirdPartys</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let revenue of operations?.listRevenue" class="revenue-row">
                    <td>{{ revenue.id }}</td>
                    <td>{{ revenue.causal }}</td>
                    <td>{{ revenue.amount }}</td>
                    <td>{{ revenue.isProgrammed }}</td>
                    <td>{{ revenue.startDate }}</td>
                    <td>{{ revenue.endDate }}</td>
                    <td>{{ revenue.vaultDTO.name }}</td>
                    <td>{{ revenue.categoryDTO.categoryName }}</td>
                    <td>{{ revenue.thirdPartyDTO.thirdPartyName }}</td>
                </tr>
                <tr *ngFor="let expense of operations?.listExpense" class="expense-row">
                    <td>{{ expense.id }}</td>
                    <td>{{ expense.causal }}</td>
                    <td>{{ expense.amount }}</td>
                    <td>{{ expense.isProgrammed }}</td>
                    <td>{{ expense.startDate }}</td>
                    <td>{{ expense.endDate }}</td>
                    <td>{{ expense.vaultDTO.name }}</td>
                    <td>{{ expense.categoryDTO.categoryName }}</td>
                    <td>{{ expense.thirdPartyDTO.thirdPartyName }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>