<div class="main-container">
  <div class="profile-card">
    <h1>USER PROFILE</h1>
    <div *ngIf="principal; else loading">
      <img class="profile-img" *ngIf="principal.imgProfile" [src]="principal.imgProfile" alt="Profile Image">
      <p><strong>First Name:</strong> {{ principal.firstName }}</p>
      <p><strong>Last Name:</strong> {{ principal.lastName }}</p>
      <p><strong>Date of Birth:</strong> {{ principal.dob | date }}</p>
      <p><strong>Role:</strong> {{ principal.role }}</p>
    </div>
    <ng-template #loading>
      <p>Loading...</p>
    </ng-template>
  </div>
</div>
