/* Contenitore principale */
.main-container {
  display: flex;
  justify-content: space-between;
  padding: 0px;
  width: 40%;
  height: auto;
  max-width: 1200px;
  min-width: 230px;
  margin: 1% 1%;
  color: rgb(255, 255, 255);
  text-shadow: 2px 0 #00000090, -2px 0 #00000090, 0 2px #00000090, 0 -2px #00000090,
  1px 1px #00000090, -1px -1px #00000090, 1px -1px #00000090, -1px 1px #00000090;
}


.profile-card,
.edit-card {
  background-color: rgb(47, 47, 128);
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); 
  padding: 20px;
  flex: 1;
  position: relative;
}

.profile-card {
    // box-shadow: 0px 0px 10px white;
  border: 1px solid rgb(255, 255, 255); 
  
}

.profile-card h1 {
  margin-top: 0;
  
}

.profile-card img.profile-img {
  border-radius: 50%;
  max-width: 100px;
  margin-bottom: 10px;
  border: 2px solid rgba(32, 44, 93, 0.1);
}

.profile-card p {
  font-size: 16px;
  margin: 5px 0;
}

.profile-card p strong {
}

.edit-card h2 {
  margin-top: 0;
}

.edit-card label {
  display: block;
  margin: 10px 0 5px;
}

.edit-card input {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1); 
  border-radius: 4px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.edit-card button {
  background-color: rgb(32, 44, 93); 
  color: #fff; 
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.edit-card button:hover {
  background-color: rgba(32, 44, 93, 0.8); /* Colore blu leggermente più scuro per hover */
}

.edit-card button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(32, 44, 93, 0.2); /* Ombra blu chiara per focus */
}
