.main-container{
    // //background-image: url("../../../assets/photo/background.jpg");
    // // background-image: url("../../../assets/photo/login-wallpaper.png");
    // // background-image: url("../../../assets/photo/montain.jpg");
    // background-image: url("../../../assets/photo/neve.jpg") ;
    // //background-image: url("../../../assets/photo/purple-path.jpg");
    // //background-image: url("../../../assets/photo/forest.jpg");

    // background-size: cover;
    // background-attachment: fixed;
    // background-position: center;
    // position: fixed;
    // width: 100%;
    // height: 100%;

    // font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    // overflow: hidden;
    // border: 0px; 
}

.form{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}