.main-container{
    //background-image: url("../../../assets/photo/background.jpg");
    //background-image: url("../../../assets/photo/login-wallpaper.png");
    //background-image: url("../../../assets/photo/montain.jpg");
    background-image: url("../../../assets/photo/neve.jpg") ;
    //background-image: url("../../../assets/photo/purple-path.jpg");
    //background-image: url("../../../assets/photo/forest.jpg");

    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    height: 100%;
    width: 100%;

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow: hidden;
    display: flex;
    border: 0px;
}

.item{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 20px solid rgb(3, 12, 31);
}