*{
    margin: 0px;
}

body { 
    margin: 0;
    
    // border: 10px solid #555555;
    background-color: #17181edf;

    height: 98vh;



    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow: hidden;
}

app-root{
    width: 100%;
    height: 100%;
}

